*
{   
    padding: 0 ;
    margin: 0;

}

nav
{
    position: fixed;
    background-color: yellow;
    height: 70px;
    width: 100%;
    z-index: 2;
}

.logo
{    
    font-family:  brush script MT;
    font-size: 45px;
    position: relative;
    left: 5%;
    color: black;
    font-weight: bold;
    line-height: 70PX;

}
.logo:hover{
    color: aqua;
} 

ul
{
    position: relative;
    float: right;
    margin-right: 50PX;
}

ul li
{
    
    display: inline-block;
    line-height: 70PX;
    margin: 0 5PX;
}

ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
ul li a:hover{
    color: aqua;
}
.main_img
{
    width:100%;
    height: 350px;
}
.section1
{
    padding-top: 70px;
}
.img_text
{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
    background-color: aqua;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 50px;
}

.img_text2
{
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    background-color: mediumseagreen;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 50px;
}

.welcome_img{
    
    width: 100%;
    height: 250px;
}

.container{
    padding-top: 50px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}


.associate{
    width: 90%;
    height: 200px;

}

.lebel_text{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;

}
.input_deg{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid aqua;
}
.reg{
    padding-top: 10px;

}
#submit{
    position: relative;
    width: 10%;
    left: 5%;
}

footer{
    background-color: aqua;
    height: 70px;
    width: 100%;
}
.footer_text{
    text-align: center;
    color: black;
    top: 20%;
    position: relative;
}
.regis{
    padding-top: 30px;
    padding-bottom: 30px;

}